<!-- Menu Footer CSS -->
<link rel="stylesheet" href="../assets/css/menu_footer.css" />

<!-- Footer -->
<footer class="footer container">
  <div class="container row row-cols-5 justify-content-around mx-5 pt-5">
    <div class="col">
      <a href="index.html"
        ><img
          src="../assets/icons/shark_logo_ecology_transparency.png"
          width="150px"
          height="150px"
      /></a>
    </div>

    <div class="col"></div>

    <div class="col">
      <h5>Improvements</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Footprint</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Solutions</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Inspirations</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Act Now</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Spread the word</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Participate</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Gather people</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Others</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Blog</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">About</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="container d-flex flex-wrap justify-content-center align-items-center py-3"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../assets/icons/instagram_icon.png"
            width="50px"
            height="50px"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../assets/icons/facebook_icon.png"
            width="50px"
            height="50px"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../assets/icons/telegram_icon.png"
            width="50px"
            height="50px"
        /></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"
          ><img
            src="../assets/icons/signal_icon.png"
            width="50px"
            height="50px"
        /></a>
      </li>
    </ul>
  </div>
</footer>
