<!-- Menu Header CSS -->
<link rel="stylesheet" href="../assets/css/menu_header.css" />

<!-- Material Icons CSS (for menu icon) -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<!-- Navbar -->
<header class="header gradient">
  <nav class="navbar navbar-expand-lg" id="navbar-container">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img
          alt="Logo"
          src="../assets/icons/shark_logo_ecology_transparency.png"
          width="100px"
          height="100px"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="material-icons">menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="index.html" class="nav-link active font-weight-bold">
              Homepage
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle font-weight-bold"
              id="navbarDropdown1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Improvements
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li class="nav-item">
                <a
                  href="footprint.html"
                  class="nav-link nav-drop-item font-weight-bold"
                >
                  Footprint
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="solutions.html"
                  class="nav-link nav-drop-item font-weight-bold"
                >
                  Solutions
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="inspirations.html"
                  class="nav-link nav-drop-item font-weight-bold"
                >
                  Inspirations
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle font-weight-bold"
              id="navbarDropdown2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Act Now
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li class="nav-item">
                <a
                  href="spread_the_word.html"
                  class="nav-link nav-drop-item font-weight-bold w-100"
                >
                  Spread the word
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="participate.html"
                  class="nav-link nav-drop-item font-weight-bold"
                  >Participate</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="gather_people.html"
                  class="nav-link nav-drop-item font-weight-bold"
                  >Gather people</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="blog.html" class="nav-link font-weight-bold">Blog</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link font-weight-bold">About</a>
          </li>
          <li class="nav-item">
            <a href="contact.html" class="nav-link font-weight-bold">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
